body{
	padding-left: 20px;
	padding-top: 20px;
}
input.get_data {
	width: 100%;
}
h2,h3 {
	text-align: center;
}

img {
	width: 50px;
}
strong.USD {
	font-size: 26px;
	color: green;
}
strong.rur_usd{
	font-size: 20px;
	color: #0c8ac4;
}
strong.name {
	font-size: 24px;
}
strong.price_btc {
	font-size: 16px;
}
strong.rank {
	font-size: 16px;
}
strong.change_coin{
	font-size: 18px;
}
strong.market_cap{
	font-size: 14px;
	font-style: italic;
}
strong.name {
	line-height: 0px;
}
div.time {
	font-size: 26px;
	font-style: italic;
	text-align: center;
	color: #0acfbb;
}
div.time_update{
	font-size: 12px;
	color: #07574f;
}
.header-trade strong {
	font-size: 16px;
}
.header-trade {
	text-align: center;
}
p.deal_1, p.deal_3 {
	background-color: lightgrey;
}
.profit-result {

}
.fix-result {
	font-size: 18px;
}
.fix-result > p {
	font-size: 16px;
	margin-bottom: 0px;
}
.result-trade {
	text-align: center;	
	font-size: 24px;
}
.result-trade-fiat {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.xmr-mining strong {
	background-color: red;
	display: inline-block;
}
.row.zec-mining {
	border: 1px solid green;
	margin-bottom: 10px;
}
.row.dgb-mining {
	border: 1px solid green;
	margin-bottom: 10px;
}
.row.lbc-mining {
	border: 1px solid green;
	margin-bottom: 10px;
}
.row.zcl-mining {
	border: 1px solid green;
	margin-bottom: 10px;
}
.left {
	display: inline-block;
	width: 59%;
}
.right {
	display: inline-block;
	width: 39%;
}
.coin {
	text-align: center;
	border: 1px solid green;
	margin-bottom: 5px;
	background-color: lightgrey;
	padding: 5px;
}
.coin:hover {
	background-color: grey;
}
.trade {
	border: 2px solid green;
	background-color: lightblue;
}
.pool {
	border: 2px solid green;
	background-color: lightgreen;
}