body{
	padding-left: 50px;
}

.coin {
	border: 1px solid green;
	margin-bottom: 5px;
	background-color: lightgrey;
}

.trade {
	border: 2px solid green;
	background-color: lightblue;
}

.pool {
	border: 2px solid green;
	background-color: lightgreen;
}